.section {
  width: 90%;
  margin: 0 auto;
}

.container {
  margin: 30px auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 70%;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgb(5, 5, 81);
  color: white;
  padding: 10px 40px;
}

.editBtn {
  padding: 10px 30px;
  background-color: #bada55;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.deleteBtn {
  padding: 10px 30px;
  background-color: rgb(255, 0, 0, 0.8);
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.overview {
  width: 350px;
}

.overview p {
  margin: 15px 0;
  padding: 6px;
  display: flex;
  border-bottom: 1px solid rgba(226, 225, 225, 0.699);
  justify-content: space-between;
}

.overview span {
  margin-left: 30px;
  width: 50%; /* Šířka pro <span> */
  text-align: right; /* Text zarovnán vpravo */
}


.notesInput {
  margin: 30px 0;
  width: 400px;
  height: 80px;
}

.backBtn {
  padding: 10px 30px;
  background-color: rgb(5, 5, 81);
  color: white;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
}