.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 50px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}