.container {
  display: flex;
}

.container:nth-child(odd) {
  background-color: rgb(227, 227, 227);
}

.nameWrapper {
  width: 20%;
  margin: 10px auto;
  text-align: center;
}

.descWrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  width: 80%;
}

.descWrapper > * {
  margin: 10px auto;
  padding: 5px;
  max-width: 100px;
}